In [15]:
import pandas as pd

In [16]:
df = pd.read_csv("data_sources/taxis_2024/Taxi_Trips__2024-__20240407.csv")

In [19]:
df.head(1)

,Trip ID,Taxi ID,Trip Start Timestamp,Trip End Timestamp,Trip Seconds,Trip Miles,Pickup Census Tract,Dropoff Census Tract,Pickup Community Area,Dropoff Community Area,...,Extras,Trip Total,Payment Type,Company,Pickup Centroid Latitude,Pickup Centroid Longitude,Pickup Centroid Location,Dropoff Centroid Latitude,Dropoff Centroid Longitude,Dropoff Centroid Location
0,01a0b77b722a0b91f45cb4fc90b3e64f76fd0681,4f1e94982e6851725add382f7981d64006ae7c38f3664f...,03/01/2024 12:00:00 AM,03/01/2024 12:00:00 AM,711.0,5.84,NaN,NaN,56.0,NaN,...,5.0,26.7,Credit Card,City Service,41.792592,-87.769615,POINT (-87.7696154528 41.7925923603),NaN,NaN,NaN

In [50]:
df_trimmed = df.iloc[:,1:16:].drop(columns=["Taxi ID","Pickup Census Tract","Dropoff Census Tract"])

In [51]:
df_trimmed.columns

Index(['Trip Start Timestamp', 'Trip End Timestamp', 'Trip Seconds',
       'Trip Miles', 'Pickup Community Area', 'Dropoff Community Area', 'Fare',
       'Tips', 'Tolls', 'Extras', 'Trip Total', 'Payment Type'],
      dtype='object')

In [52]:
df_trimmed["Trip Start Timestamp"] = pd.to_datetime(df_trimmed["Trip Start Timestamp"], format="%m/%d/%Y %H:%M:%S %p")
df_trimmed["Trip End Timestamp"] = pd.to_datetime(df_trimmed["Trip Start Timestamp"], format="%m/%d/%Y %H:%M:%S %p")
df_trimmed['Pickup Community Area'] = df_trimmed['Pickup Community Area'].apply(pd.to_numeric).astype('Int64')
df_trimmed['Dropoff Community Area'] = df_trimmed['Dropoff Community Area'].apply(pd.to_numeric).astype('Int64')
df_trimmed.rename(columns=lambda x: x.replace(' ', '_'), inplace=True)

In [54]:
df_trimmed.to_parquet('data_sources/taxis_2024/taxis_2024.parquet', index=False)